@{
    ViewData["Title"] = "Home Page";
}
@model string
<style>
    .text-block {
        width: 50%;
        margin: auto;
        text-align: center; 
        background-color: #f2f2f2; 
        padding: 20px;
        border-radius: 10px; 
    }
</style>

<div class="text-center">
    <h1 class="display-4">Фільтри</h1>
    <form method="post">
        <button asp-controller="Home" asp-action="ActionLog">Action logs</button><br />
    </form>
    <div class="text-block">@Model</div> <
</div>
